@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column ;
    font-family: 'Roboto', sans-serif;
    
    width: 100%;
    min-height: 100vh;
    padding: 50px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Header */
.headerContainer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0d6efd;
    color: #fff;
    cursor: pointer;
}

.title{
    font-size: 45px;
}

/* Modal */
.outterModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.innerModal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center ;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    min-width: 400px;
}
.tasksContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TASK */
.taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.titleContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badge{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0d6efd;
    color: #fff;
}

.badge.completed{
    background-color: #198754;
}

/* pending orange  */
.badge.pending{
    background-color: #ffc107;
}


/* Modal Form */

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
    
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
}

.deleteTaskBtn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}